<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaokui.mapper.TeacherMapper">
    <select id="pageLimit" resultType="com.xiaokui.dto.TeacherTable">
        select *
        from page_teacher(#{start,jdbcType=INTEGER}, #{size,jdbcType=INTEGER});
    </select>

    <select id="createTeacher">
        select create_teacher(#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR},
                              #{classId,jdbcType=INTEGER});
    </select>

    <select id="delTeacher">
        select del_teacher(#{id,jdbcType=INTEGER});
    </select>

    <select id="updateTeacher">
        select update_teacher(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
                              #{gender,jdbcType=VARCHAR}, #{classId,jdbcType=INTEGER});
    </select>

    <select id="queryTeacher" resultType="com.xiaokui.dto.TeacherTable">
        select *
        from query_teacher(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR});
    </select>

    <select id="getTeacherSum" resultType="java.lang.Integer">
        select count(*)
        from teacher t
        where t.is_delete = false;
    </select>

</mapper>